/* Set the background color of elements to grey */

body, html {
    margin: 0;
    padding: 0;
    
  }

  body {
    /* background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% ); */
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,  #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .inverted-animation{
    background: linear-gradient(-45deg, #b21f1f, #1a2a6c) !important;  /* fallback for old browsers */
  }


  .skeleton {
    background: transparent !important;
  }
  


.super-container{
    border-radius: 15px !important;
    color: white;
    margin: 10px;
    max-height: 100% !important;
    min-width: 100% !important;
}

.trans{
  background-color: transparent !important;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
