.footer{
    margin-bottom: 40px !important;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
  background: transparent;
    justify-content: center;
}

.fancy-input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
}

.fancy-input:focus {
  outline: none;
}

.cool-button {
    display: inline-block !important;
    padding: 10px 20px !important;
    text-align: center;
    text-decoration: none !important;
    background: linear-gradient(-45deg, #483e9b , #000000 ) !important;
    background-size: 200% 200% !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0 2px 4px black !important;
    outline:none;
    transition: opacity 0.3s ease;
    margin: 20px;
  }
  
  .cool-button:hover {
    opacity: 80%;
  }

  .mod{
    color: white;
  }

