.typer-text {
    font-size: 200%;
    padding-top: 5%;
    align-self: center;
  }
  
  .profile-pic {
    background-color:#99dbff;
    background-image:
    linear-gradient(-45deg, hsla(86,60%,0%,1), #99dbff, black);
    background-size: 110% 110%;
    background-position: 50% 50%;
    border: 8px solid transparent;
    padding: 2px;
    border-radius: 50%;
    width: 200px; /* Adjust this value as needed */
    height: 200px; /* Adjust this value as needed */
    margin: 0 auto; /* Center horizontally */
    margin-top: 40px;
  }
  
  .intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center !important;
    min-width: 100%;
  }