.work-wrap{
    min-width:100%;
    margin-top:20px;
    flex-wrap: wrap !important;
    display: flex !important;
    justify-content: space-evenly;
}


.elem {
    display: inline-block;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .elem:hover {
    transform: translateY(-10px);
  }

.logo{
    height:280px !important;
    width: 280px !important;
    border-radius: 15px;
}

.mod{
    background-color:#99dbff !important;
    padding: 20px;
    background-image:
    radial-gradient(at 59% 90%, hsla(86,60%,0%,1) 0px, transparent 50%),
    radial-gradient(at 1% 8%, hsla(280,63%,0%,1) 0px, transparent 50%),
    radial-gradient(at 60% 25%, hsla(82,71%,0%,1) 0px, transparent 50%),
    radial-gradient(at 74% 41%, hsla(81,89%,0%,1) 0px, transparent 50%),
    radial-gradient(at 16% 1%, hsla(278,64%,0%,1) 0px, transparent 50%),
    radial-gradient(at 56% 84%, hsla(189,90%,0%,1) 0px, transparent 50%),
    radial-gradient(at 76% 49%, hsla(296,92%,0%,1) 0px, transparent 50%) !important;
}

.cool-button{
    margin: 10px;
}