.work-wrap{
    min-width:100%;
    margin-top:20px;
    flex-wrap: wrap !important;
    display: flex !important;
    justify-content: space-evenly;
}


.elem {
    display: inline-block;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .elem:hover {
    transform: translateY(-10px);
  }

.logo{
    height:280px !important;
    width: 280px !important;
    border-radius: 15px;
}

.mod{
    padding: 10px;
}

.cool-button{
    margin: 10px;
}