/*global vars/themes */
:root {
  --primary: #3c3846; /*background*/
  --secondary: #4a4b7b; /*Main Color besides background*/
  --tertiary:  #fde9cc;

}


html, body {
  background-color: var(--primary);

}



h1, h2, h3, h4, h5, p {
  font-weight:bolder;
  color: var(--tertiary);
}
  

/* footer */
  .footer-wrapper{
    color: var(--tertiary);
    background: var(--secondary);
    padding: 5px;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    align-items: center;
  }
  
  

/*general*/
.super-container{
    border-radius: 15px !important;
    color: var(--text-center);
    margin: 10px;
    max-height: 100% !important;
}


.trans{
  background-color: transparent !important;
}


/* New styles for the nav-item class */
.current-element{
  position: fixed;
  top: -15px;
  z-index: 61;
  right: 15px;
}
.comp-name{
  position: fixed;
  top: -15px;
  z-index: 61;
  left: 47%;
}

@media (max-width: 768px) {
  .comp-name {
    color: transparent; /* Change to the desired font color for mobile views */
  }
}

.initial-refresh{
  position: fixed;
  z-index: 61;
  top: -15px;
  left: 15px;
}

.banner{
  background: linear-gradient(-45deg, var(--secondary), #272840, var(--secondary));
  position:fixed;
  top: 0;
  z-index: 60;
  height:50px;
  width:100%;
}

.initial-refresh:hover{
  cursor: pointer;
  color: var(--primary)
}

/* Style the last nav item to remove the dividing line */
.nav-item:last-child {
  border-right: none;
}
/*universal button*/
.cool-button {
  display: inline-block !important;
  text-align: center;
  text-decoration: none !important;
  background: transparent !important;
  border-radius: 5px !important;
  border: none !important;
  outline:none;
  transition: opacity 0.3s ease;
}

.cool-button:hover {
  cursor: pointer;
  opacity: 80%;
}

/* skills style */
.skills-wrapper {
  min-width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;

}

.skills-grid {
    padding: 5px;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    align-items: center;
}

.skills-icon,
.active-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  color: var(--tertiary);
  transition: transform 0.5s ease-in-out;
}

.active-skill {
  background: var(--secondary);
  border-radius: 15px;
}

.skills-icon:hover,
.active-skill:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

/* contact style */
.contact-wrapper{
  margin-bottom: 40px !important;
  padding: 10px;
  display: flex;
  background: transparent;
  border-radius: 15px;
  justify-content: center;
}

.contact-fancy-input {
border: none;
border-radius: 5px;
padding: 10px;
font-size: 16px;
color: #333;
}

.contact-fancy-input:focus {
outline: none;
background-color: black !important;
}


/* intro styles */
.intro-typer-text {
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 1; 
  overflow: auto;
  align-self: center;
  min-height: 150px;
}


.intro-profile-pic {
  background-image:linear-gradient(-45deg,  var(--primary), var(--secondary) );
  background-size: 110% 110%;
  background-position: 50% 50%;
  border: 8px solid transparent;
  padding: 2px;
  border-radius: 50%;
  /* width: 200px; Adjust this value as needed */
  height: 200px; /* Adjust this value as needed */
  margin: 0 auto; /* Center horizontally */
  margin-top: 40px;
  transition: transform 0.2s ease-in-out;

}

.intro-profile-pic:hover {
  transform: translateY(-10px);
  cursor: pointer;

}

.intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.custom-pop-up{
  background: var(--primary) !important;
  background-color: var(--primary) !important;
  background-image: var(--primary) !important;
  outline: none !important;
  border: none !important;

}

/* work styles */

.work-wrap{
  margin-top:20px;
  max-width: 80% !important;
  display: flex !important;
  flex: wrap !important;
}

.work-exp{
  background: transparent !important;
  padding: 20px;
}

.fader {
  opacity: 0;
  transform: translateY(20px);
}

.fader.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.learning {
  color: var(--tertiary);
  background-color: var(--secondary);
  border-radius: 15px;
  padding: 8px;
  margin: 5px;
}

.learning:hover{
  color: var(--secondary);
  background-color: var(--tertiary);
  cursor:pointer;
}

.learning-holder {
  display: flex;
  flex-wrap: wrap; /* Corrected property name here */
}



.trans-back-force {
  background: transparent !important;
  outline: none;
}

/* education styles */
.edu-outer{
  background: transparent;
  border-radius: 15px;
}
.edu-wrap {
  margin-top: 20px !important;
  border-radius: 15px;
}

.edu-elem{
  background: transparent !important;
  outline: none !important;
  border: none !important;
  color: var(--text-center) !important;
}



.washu-logo {
  position: relative; /* Make sure the container is positioned */
  top: 50%;
  left: 50%;
  transform: translateX(-50%); /* Center the image */
}

/* Project Styles */
.proj-wrap{
  border-radius: 15px;
  margin-top: 20px !important;
  padding: 10px;
}

.proj-elem{
  align-self: center;
  min-width: 50%;
  transition: transform 0.2s ease-in-out;
  color:var(--text-center);
  align-self: center;
}

.proj-elem:hover{
  cursor: pointer;
  transform: translateY(-10px);
}

.proj-desc {
  background: transparent !important;
  outline: none !important;
  border: none !important;
  min-width: 50%;
  align-self: center;
  transition: transform 0.2s ease-in-out;
}

.proj-desc:hover {
  cursor: pointer;
  transform: translateY(-10px);

}



