/*global vars/themes */
:root {
  --primary: #1D1D1D; /*background*/
  --secondary: #122b56; /*Main Color besides background*/
  --text-center: #2272FF; /* CHANGE FROM WHITE TO LIGHT VERSION OF SECONDARY*/
  --text-outer: white; /* Text mesh outer */

}


html, body {
  background-color: var(--primary);
  background-image: radial-gradient(var(--secondary) 0.5px, var(--primary) 0.5px);
  background-size: 10px 10px;

}

p {
  color: var(--text-center);
}


h1, h2, h3, h4, h5 {
  font-weight:bolder;
  background: linear-gradient(45deg, var(--text-outer), var(--text-center), var(--text-outer));
  -webkit-background-clip: text; /* For Safari and older versions of Chrome */
  background-clip: text;
  color: transparent;
}
  

  .footer-text{
    font-size: small;
    color: var(--text-center);
    font-family: 'Times New Roman', Times, serif;

  }
  


.super-container{
    border-radius: 15px !important;
    color: var(--text-center);
    margin: 10px;
    max-height: 100% !important;
}


.trans{
  background-color: transparent !important;
}

/*navbar*/
.nav{
  position: fixed;
  background: linear-gradient(to bottom, var(--secondary), var(--primary)) !important;
  top: 0;
  left: 0;
  z-index: 999;
  color: var(--text-center);
}

/* New styles for the nav-item class */
.nav-item {
  border-right: 1px solid black !important; /* Add a black dividing line to the right of each nav item */
  padding-right: 10px; /* Add some right padding to separate the dividing line from the text */
  font-weight:bolder !important;
}

/* Style the last nav item to remove the dividing line */
.nav-item:last-child {
  border-right: none;
}
/*universal button*/
.cool-button {
  display: inline-block !important;
  padding: 10px 20px !important;
  text-align: center;
  text-decoration: none !important;
  background: linear-gradient(-45deg, var(--primary) , var(--secondary), var(--primary) ) !important;
  background-size: 200% 200% !important;
  border-radius: 5px !important;
  border: none !important;
  box-shadow: 0 2px 4px var(--secondary) !important;
  outline:none;
  transition: opacity 0.3s ease;
  margin: 20px !important;
}

.cool-button:hover {
  cursor: pointer;
  opacity: 80%;
}

/* skills style */
.skills-wrapper {
  flex-wrap: wrap;
  display: flex;
  margin-top:20px;
   margin-bottom: 20px;
   justify-content: space-evenly !important;

}

.skills-icon {
  margin: 10px;
  display: inline-block;
  color: var(--text-center);
  transition: transform 0.2s ease-in-out;
}

.skills-icon:hover{
  cursor: pointer;
  transform: translateY(-10px);
}

/* contact style */
.contact-wrapper{
  margin-bottom: 40px !important;
  padding: 10px;
  display: flex;
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--secondary);
  justify-content: center;
}

.contact-fancy-input {
border: none;
border-radius: 5px;
padding: 10px;
font-size: 16px;
color: #333;
}

.contact-fancy-input:focus {
outline: none;
background-color: black !important;
}


/* intro styles */
.intro-typer-text {
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 1; 
  overflow: auto;
  align-self: center;
  min-height: 150px;
}


.intro-profile-pic {
  background-image:linear-gradient(-45deg,  var(--primary), var(--secondary) );
  background-size: 110% 110%;
  background-position: 50% 50%;
  border: 8px solid transparent;
  padding: 2px;
  border-radius: 50%;
  width: 200px; /* Adjust this value as needed */
  height: 200px; /* Adjust this value as needed */
  margin: 0 auto; /* Center horizontally */
  margin-top: 40px;
  transition: transform 0.2s ease-in-out;

}

.intro-profile-pic:hover {
  transform: translateY(-10px);
  cursor: pointer;

}

.intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.custom-pop-up{
  background: var(--primary) !important;
  background-color: var(--primary) !important;
  background-image: var(--primary) !important;
  outline: none !important;
  border: none !important;

}

/* work styles */

.work-wrap{
  margin-top:20px;
  flex-wrap: wrap !important;
  display: flex !important;
  justify-content: space-evenly;
}


.work-exp {
  color: var(--text-center);
  display: inline-block;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}

.work-exp:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.work-modal{
  background: black !important;
  background-image: linear-gradient(to bottom, var(--secondary),var(--primary),var(--primary),var(--primary),var(--primary),var(--primary)) !important;
  border-radius: 15px !important;
  padding: 25px;
}

.work-modal-icon{
  color: var(--text-center);
  position: relative;
}

.work-modal-learnings{
  display: flex;
  flex-wrap: wrap; /* This should be 'wrap', not 'flex-wrap' */
  justify-content: flex-start; /* Adjust this property as needed */
  align-items: flex-start; /* Adjust this property as needed */
}
.work-modal-learning{
  background-color: rgba(0, 60, 0, 0.423);
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.trans-back-force {
  background: transparent !important;
  outline: none;
}

/* education styles */
.edu-outer{
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--secondary);
}
.edu-wrap {
  margin-top: 20px !important;
  border-radius: 15px;
}

.edu-elem{
  background: transparent !important;
  outline: none !important;
  border: none !important;
  color: var(--text-center) !important;
}



.washu-logo {
  position: relative; /* Make sure the container is positioned */
  top: 50%;
  left: 50%;
  transform: translateX(-50%); /* Center the image */
}

/* Project Styles */
.proj-wrap{
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--secondary);
  margin-top: 20px !important;
  padding: 10px;
}

.proj-elem{
  align-self: center;
  min-width: 50%;
  transition: transform 0.2s ease-in-out;
  color:var(--text-center);
  align-self: center;
}

.proj-elem:hover{
  cursor: pointer;
  transform: translateY(-10px);
}

.proj-desc {
  background: transparent !important;
  outline: none !important;
  border: none !important;
  min-width: 50%;
  align-self: center;
  transition: transform 0.2s ease-in-out;
}

.proj-desc:hover {
  cursor: pointer;
  transform: translateY(-10px);

}



